body {
    margin: 0;
    font-family: sans-serif;
    background: #f4f4f4;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

    .card:hover {
        transform: scale(1.05);
    }
